body {
	font-family: cursive;
}

body > header {
	background-color: grey;
}

h1, h2, h3, h4 {
	font-size: x-large;
}

.art {
	background-color: lightblue;
	width: 75%;
	float: right;
}

nav li {
	display: inline-block;
	color: black;
	margin: 15px;
}

a {
	text-decoration: none;
	padding: 8px;
}

a:hover {
	background-color: black;
	color: white;
}

.first {
	float: left;
	margin: 5px;
}

.second {
	float: right;
	margin: 5px;
}

.nav {
	background-color: pink;
}

div {
	padding: 15px;
}

.bok {
	background-color: yellow;
	width: 25%;
	float: left;
}

body > footer {
	background-color: green;
	clear: both;
}

.menu_aside li {
	display: block;
}

